<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jamin
  Date: 2019/11/21
  Time: 16:15
  Desc: spring配置文件
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
           http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <!--  客户端-->
    <jaxws:client id="HelloService" serviceClass="com.com.jamin.springService.HelloService" address="http://localhost:8080/ws/hello"/>
</beans>